* { box-sizing: border-box; }

body {
   font-family: sans-serif;
}

.carousel{
   margin:1%;
}

.carousel-cell {
   margin-right: 20px;
   overflow: hidden;
   width: 100%; /* full width */
   height: 50rem; /* height of carousel */
}

.carousel-cell img {
   display: block;
   width: 100%;
   height: 50rem;
}

@media screen and ( min-width: 768px ) {
 .carousel-cell img {
     height: 100%;
 }
}




.carousel-cell-card {
  width: 25%;
  height: 60vh;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell-card;
}

.title-own {
    position: absolute;
    left: 45%;
    color: white;
    top: 18%;
    text-align: center;
}
