{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
    <!-- playlist -->
        <div>
        <div class="carousel">
            {% for crl in carousel %}
              {% if not for.counter >= 4 %}
                  <div class="carousel-cell">
                    <img src="{{ crl.image.url }}" alt="orange tree" />
                  </div>
              {% endif %}
            {% endfor %}
        </div>

        <div class="title-own">
                <h1>welcome</h1>
                <p>please read all our terms & conditions</p>
                <p></p>
        </div>
            </div>
    <!-- end playlist -->

    <!--  content  -->
        <!--    content trip    -->
            <div style="margin: .5% 0 .5% 0" class="carousel-content" data-flickity='{ "groupCells": true }'>
                {% for trip in trip %}
                    {% if trip.special is False %}
                        <div class="carousel-cell-card">
                          <div class="card" style="width: 100%; height:100%;">

                              <div class="carousel-images" data-flickity>
                                  <div class="carousel-cell-images"><img style="height:100%;" src="{{ trip.photo1.url }}" class="card-img-top" alt="..."></div>
                                  {% if trip.photo2 %}
                                  <div class="carousel-cell-images"><img style="height:100%;" src="{{ trip.photo2.url }}" class="card-img-top" alt="..."></div>
                                  {% endif %}
                                  {% if trip.photo3 %}
                                  <div class="carousel-cell-images"><img style="height:100%;" src="{{ trip.photo3.url }}" class="card-img-top" alt="..."></div>
                                  {% endif %}

                                </div>

                              <div class="card-body" style="padding :0;">
                                <h3 class="card-title">{{ trip.name }}</h3>
                                <p class="text-secondary card-text" style="font-size: 12px; margin: 2%; margin-top:0;">{{ trip.day }}</p>
                                <p class="card-text" style="margin: 0">Trip Price</p>
                                <p class="text-secondary card-text2" style="font-size: 12px; margin: 2%; margin-top:0;">IDR {{ trip.Price }} (Min 6-10 People) </p>
                                <p class="card-text" style="margin: 0;">Quota (Max/20)</p>
                                <p class="text-secondary card-text" style="font-size: 12px; margin: 2%; margin-top:0;">Available: {{ trip.seat }} quota</p>
                                <p class="card-text" style="margin: 0;">Meeting Point</p>
                                <p class="text-secondary card-text" style="font-size: 12px; margin: 2%; margin-top:0;">{{ trip.meeting }}</p>
                                <a href="#" class="btn btn-primary">Booking</a>
                              </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        <!--  content special trip  -->
            <div style="margin: .5% 0 .5% 0" class="carousel-content" data-flickity='{ "groupCells": true }'>
                <div class="carousel-cell-card">
                    {% for trip in trip %}
                        {% if  trip.special is True %}
                            <div class="card" style="width: 100%; height:100%;">

                          <div class="carousel-images" data-flickity>
                              <div class="carousel-cell-images"><img style="height:100%;" src="{{ trip.photo1.url }}" class="card-img-top" alt="..."></div>
                              {% if trip.photo2 %}
                              <div class="carousel-cell-images"><img style="height:100%;" src="{{ trip.photo2.url }}" class="card-img-top" alt="..."></div>
                              {% endif %}
                              {% if trip.photo3 %}
                              <div class="carousel-cell-images"><img style="height:100%;" src="{{ trip.photo3.url }}" class="card-img-top" alt="..."></div>
                              {% endif %}

                            </div>

                          <div class="card-body" style="padding :0;">
                            <h3 class="card-title">{{ trip.name }}</h3>
                            <p class="text-secondary card-text" style="font-size: 15px; margin: 2%; margin-top:0;">{{ trip.special_desc }}</p>
                          </div>
                        </div>
                        {% endif %}
                    {% endfor %}
              </div>
            </div>
    <!--  end content  -->
{% endblock content %}

{% block script %}
    <script src="{% static 'js/flickity.min.js' %}"></script>
    <script type="text/javascript">
        var $carousel = $('.carousel').flickity({
          imagesLoaded: true,
          percentPosition: false,
          pageDots: false,
          prevNextButtons: false,
          draggable: false,
          autoPlay: true
        });

        var $imgs = $carousel.find('.carousel-cell img');
        // get transform property
        var docStyle = document.documentElement.style;
        var transformProp = typeof docStyle.transform == 'string' ?
          'transform' : 'WebkitTransform';
        // get Flickity instance
        var flkty = $carousel.data('flickity');

        $carousel.on( 'scroll.flickity', function() {
          flkty.slides.forEach( function( slide, i ) {
            var img = $imgs[i];
            var x = ( slide.target + flkty.x ) * -1/3;
            img.style[ transformProp ] = 'translateX(' + x  + 'px)';
          });
        });
    </script>
    <script type="text/javascript">
        var $carousel = $('.carousel-content').flickity({
          pageDots: false,
          prevNextButtons: true,
          draggable: false,
          autoPlay: false,
          groupCells: true,
          adaptiveHeight: true
        });

    </script>
    <script type="text/javascript">
        var $carousel = $('.carousel-images').flickity({
          imagesLoaded: true,
          pageDots: false,
          prevNextButtons: true,
          draggable: false,
          autoPlay: false,
          groupCells: true,
          adaptiveHeight: true,
          fade: true,
        });

    </script>
{% endblock script %}
