{% extends 'base.html' %}
{% load static %}

{% block css %}

    <style media="screen">
        p, li {
            text-align: left;
        }
    </style>

{% endblock css %}

{% block content %}
    <div class="register-photo container" style="margin-bottom: 10%;">
        <div class="form-container">
            <center><form style="width:50%;"  method="POST">{% csrf_token %}
                {% for msg in messages %}
                <p style="text-align:center;">Account created for <u>{{ msg }}</u> please login</p>
                {% endfor %}
                <h2 class="text-center"><strong>Log</strong> in</h2>
                <div class="form-group"><input type="email" class="form-control" name="email" placeholder="Email" /></div>
                <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password" /></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign In</button></div>
                <a class="already" href="{% url 'register' %}">Create an account here!</a>
            </form></center>
        </div>
    </div>
{% endblock content %}